@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Conv_11585";
  src: url("../fonts/11585.eot");
  src: local("☺"), url("../fonts/11585.woff") format("woff"), url("../fonts/11585.ttf") format("truetype"), url("../fonts/11585.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 0 0;
  background-color: transparent;
}
.header__r-blok {
  display: flex;
  align-items: center;
}
.header__lang a {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 0 37px 0 0;
  position: relative;
}
.header__lang a:after {
  content: "";
  background-image: url("../img/header/Vector-lang.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 5px;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}
.header__links {
  border-left: 1px solid #fff;
  padding: 0 0 0 24px;
}
@media (max-width: 992px) {
  .header__links {
    display: none;
  }
}
.header__links a {
  margin: 0 4px;
}
.header__links a:last-child {
  margin: 0 0 0 4px;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  margin-right: 20px;
}
.menu__item {
  margin: 0 23px;
}
.menu__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.menu__link:hover {
  color: #FFB548;
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header__logo {
    z-index: 15;
  }

  .burger__menu {
    display: block;
    position: relative;
    z-index: 20;
    width: 30px;
    height: 20px;
    margin: 0 10px 0 0;
  }

  .burger__menu span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .burger__menu:before,
.burger__menu:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .burger__menu:before {
    top: 0;
  }

  .burger__menu:after {
    bottom: 0;
  }

  .burger__menu.active span {
    transform: scale(0);
  }

  .burger__menu.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger__menu.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: #061e37;
    padding: 120px 0 0 0;
    overflow: auto;
    transition: all 0.8s ease 0s;
    z-index: 995;
  }
  .header_menu .menu__list {
    flex-direction: column;
  }
  .header_menu .menu__link {
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    padding: 0px;
    display: block;
  }

  .menu.active {
    left: 0;
    transition: all 0.8s ease 0s;
  }
}
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 80px;
  min-height: 100vh;
}
.fullscreen:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
}
.fullscreen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.fullscreen__inner {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fullscreen__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
@media (max-width: 767px) {
  .fullscreen__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .fullscreen__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}
.fullscreen__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .fullscreen__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .fullscreen__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.fullscreen__link {
  font-weight: 700;
  line-height: 22px;
  padding: 20px 16px;
  background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
  color: #1A1917;
  border-radius: 4px;
  display: inline-block;
}
@media (max-width: 767px) {
  .fullscreen__link {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .fullscreen__link {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.fullscreen__link:hover {
  background: #fff;
}
.fullscreen__link span {
  position: relative;
  padding-left: 25px;
}
.fullscreen__link span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 1px;
  height: 24px;
  transform: matrix(1, 0, 0.04, 1, 0, 0);
  background-color: #1A1917;
}
.fullscreen__scroll {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 50px;
  z-index: 3;
  transform: translate(-50%, 0);
}
@media (max-height: 450px) {
  .fullscreen__scroll {
    left: 40px;
  }
}
.fullscreen__scroll span {
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}
.fullscreen__scroll span:before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -20px;
  width: 22px;
  height: 12px;
  background-image: url("../img/fullscreen/scroll down.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, 0);
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes arrow {
  0% {
    bottom: -15px;
  }
  100% {
    bottom: -35px;
  }
}

.battle {
  position: relative;
  min-height: 100vh;
}
.battle__bg {
  position: relative;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.battle__bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
}
.battle__bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.9);
}
.battle__inner {
  position: relative;
  z-index: 2;
  padding-top: 248px;
  display: flex;
}
@media (max-width: 1086px) {
  .battle__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .battle__inner {
    padding-top: 30px;
  }
}
.battle__content {
  flex: 0 0 600px;
}
@media (max-width: 1086px) {
  .battle__content {
    flex: 0 0 100%;
    margin-bottom: 60px;
  }
}
.battle__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .battle__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .battle__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.battle__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .battle__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .battle__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}
.battle__title:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.battle__text-r {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.battle__text {
  margin-top: 60px;
  max-width: 400px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .battle__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .battle__text {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.battle__text:last-child {
  margin-top: 24px;
}
.battle__text span {
  position: relative;
  white-space: nowrap;
}
.battle__text span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #FFB548;
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider-battle {
  flex: 0 1 500px;
  min-width: 0;
}
.slider-battle__item {
  min-width: 0;
  max-width: 500px;
  height: 610px;
}
@media (max-width: 767px) {
  .slider-battle__item {
    height: 300px;
  }
}

.features {
  position: relative;
  min-height: 100vh;
}
.features__bg {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
}
.features__bg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 110px;
  height: 220px;
  background-image: url("../img/features/Vector.svg");
  background-repeat: no-repeat;
}
.features__bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
}
.features__inner {
  position: relative;
  z-index: 2;
  padding-top: 200px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .features__inner {
    padding: 30px 15px;
  }
}
.features__content-right {
  max-width: 400px;
}
.features__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .features__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .features__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.features__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .features__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .features__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}
.features__row {
  width: 400px;
}
@media (max-width: 467px) {
  .features__row {
    width: 200px;
  }
}
.features__item {
  position: relative;
}
.features__item:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -30px;
  top: 28px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.features__item.active .features__tex {
  display: block;
}
.features__item.active:before {
  background-color: #fff;
}
.features__item.active:after {
  animation-name: line;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 30px;
  left: -24px;
  background-color: #fff;
}
.features__item.item-up.active {
  position: relative;
}
.features__item.item-up.active:after {
  animation-name: line-up;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  content: "";
  width: 1px;
  height: 60px;
  top: -23px;
  left: -24px;
  background-color: #fff;
}
.features__button {
  font-family: "Conv_11585";
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 2px;
  color: #FFB548;
  padding: 15px 0;
  cursor: pointer;
}
.features__tex {
  line-height: 1.3;
  display: none;
}
@media (max-width: 767px) {
  .features__tex {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .features__tex {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}

@keyframes line {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
@keyframes line-up {
  0% {
    top: 42px;
    height: 0px;
  }
  50% {
    height: 30px;
  }
  100% {
    top: -23px;
    height: 60px;
  }
}
.system {
  position: relative;
  min-height: 100vh;
}
.system__bg {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.system__bg:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 130px;
  background-image: url("../img/system/Vector.svg");
  background-repeat: no-repeat;
}
.system__bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
}
.system__inner {
  position: relative;
  z-index: 5;
  padding: 130px 15px;
}
@media (max-width: 960px) {
  .system__inner {
    padding: 30px 15px;
  }
}
.system__title-text {
  text-align: center;
}
.system__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .system__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .system__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.system__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .system__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .system__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}

.config-system {
  margin-top: 135px;
  max-width: 575px;
  display: flex;
  flex-wrap: wrap;
}
.config-system__item {
  flex: 0 1 50%;
  padding: 25px 15px 35px 15px;
  border: 1px solid #979797;
}
.config-system__item:last-child {
  flex: 0 1 100%;
}
.config-system__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  color: #FFB548;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .config-system__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .config-system__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.config-system__text {
  line-height: 1.3;
}
@media (max-width: 767px) {
  .config-system__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .config-system__text {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}

.quotes {
  min-height: 100vh;
  position: relative;
}
.quotes:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
}
.quotes__inner {
  position: relative;
  z-index: 3;
  padding: 150px 15px;
  display: flex;
}
@media (max-width: 960px) {
  .quotes__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 15px;
  }
}
@media (max-width: 767px) {
  .quotes__inner {
    padding: 0px 15px;
  }
}
.quotes__info {
  padding-top: 140px;
  flex: 0 1 50%;
}
@media (max-width: 960px) {
  .quotes__info {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}
.quotes__sub-title {
  text-align: left;
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .quotes__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .quotes__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.quotes__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .quotes__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .quotes__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}
.quotes__text {
  line-height: 1.3;
  max-width: 420px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .quotes__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .quotes__text {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.quotes__bt {
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;
  padding: 18px 30px;
  color: #1A1917;
  border-radius: 4px;
  background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
}
@media (max-width: 767px) {
  .quotes__bt {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .quotes__bt {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.quotes__bt:hover {
  background: #fff;
}
.quotes__twit {
  flex: 0 1 50%;
}
@media (max-width: 960px) {
  .quotes__twit {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.twit-quotes__item {
  max-width: 500px;
  display: block;
  padding: 14px 16px 20px 16px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-left: 130px;
  margin-bottom: 30px;
}
@media (max-width: 1100px) {
  .twit-quotes__item {
    margin-left: 0;
  }
}
.twit-quotes__item:nth-child(2) {
  margin-left: 0;
}
.twit-quotes__item:last-child {
  margin-bottom: 0;
}
.twit-quotes__title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
}
.twit-quotes__title:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #FFB548;
}
.twit-quotes__title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 18px;
  height: 14px;
  background-image: url("../img/quotes/twitter.svg");
  background-repeat: no-repeat;
  transform: translate(0, -50%);
}
@media (max-width: 450px) {
  .twit-quotes__title:after {
    right: 0;
  }
}
.twit-quotes__title img {
  position: relative;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.twit-quotes__title p {
  color: #FFB548;
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .twit-quotes__title p {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .twit-quotes__title p {
    font-size: calc(21px + 3 * (100vw / 1440));
  }
}
.twit-quotes__title p span {
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .twit-quotes__title p span {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .twit-quotes__title p span {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.twit-quotes__text {
  line-height: 1.4;
  margin-bottom: 9px;
}
@media (max-width: 767px) {
  .twit-quotes__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .twit-quotes__text {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.twit-quotes__data {
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .twit-quotes__data {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .twit-quotes__data {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}

.newsletter__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 15px 200px 15px;
}
@media (max-width: 767px) {
  .newsletter__inner {
    padding: 0px 15px 200px 15px;
  }
}
.newsletter__bg {
  position: relative;
  width: 450px;
  height: 700px;
}
.newsletter__bg:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
}
.newsletter__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsletter__content {
  max-width: 680px;
}
.newsletter__sub-title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .newsletter__sub-title {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter__sub-title {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}
.newsletter__title {
  font-family: "Conv_11585";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .newsletter__title {
    font-size: calc(33px + 79.9 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter__title {
    font-size: calc(33px + 47 * (100vw / 1440));
  }
}
.newsletter__info {
  line-height: 1.4;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .newsletter__info {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter__info {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.newsletter__form {
  display: flex;
}
@media (max-width: 1110px) {
  .newsletter__form {
    flex-wrap: wrap;
  }
}
.newsletter__em {
  position: relative;
}
.newsletter__emaill {
  width: 370px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.3;
  padding: 27px 20px 10px 20px;
  color: #FFB548;
  margin-right: 16px;
  position: relative;
  border: 1px solid transparent;
}
@media (max-width: 1110px) {
  .newsletter__emaill {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .newsletter__emaill {
    width: 290px;
  }
}
@media (max-width: 767px) {
  .newsletter__emaill {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter__emaill {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
.newsletter__emaill:focus {
  border: 1px solid #FFB548;
}
.newsletter span {
  position: absolute;
  content: "";
  left: 20px;
  top: 7px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .newsletter span {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter span {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}
.newsletter__btn {
  padding: 17px 70px 20px 70px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  color: #1A1917;
  background: linear-gradient(183.47deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .newsletter__btn {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .newsletter__btn {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.newsletter__btn:hover {
  background: #fff;
}

.footer {
  background-color: transparent;
  margin-top: -180px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
@media (max-width: 1110px) {
  .footer__top {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .footer__top {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__item {
  margin: 0 25px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 45px;
}
@media (max-width: 767px) {
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__cop {
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 732px) {
  .footer__cop {
    order: 2;
  }
}
@media (max-width: 767px) {
  .footer__cop {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .footer__cop {
    font-size: calc(12px + 2 * (100vw / 1440));
  }
}
.footer__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 732px) {
  .footer__text {
    order: 1;
  }
}
@media (max-width: 460px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__text span {
    padding: 5px 0;
  }
}

@media (max-width: 1110px) {
  .menu {
    display: none;
  }
}
